## Pertemuan 2

## Library
* instal Library
* Deklarasi library
* Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dalam program yang berbeda
* https://geekforgeeks.org/libraries-in-python/

In [ ]:
# instal library mixtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [5]:
import pandas as pd
import numpy as np
# import apriori from library mixtend
from mlxtend.frequent_patterns import apriori, association_rules

## Dataset
* membuat dataset transaksi sebagai dataframe
* cek dataset transaksi

In [7]:
# membuat data tabular yang terdiri dari data transaksi
df = pd.DataFrame(
    {
        "ID Transaksi": pd.Series([1,2,3,4,5]),
        "Item": pd.Series([["Susu", "Roti", "Biskuit", "Mentega"],\
                        ["Susu","Biskuit","Gula","Kopi"],\
                        ["Gula","Kopi","Susu"],["kopi","Biskuit","Susu","Gula"],\
                        ["Mentega","Roti","Kopi"]]),
    }
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [8]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

# Encoding data transakasi

In [9]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [10]:
basket = (df.groupby(['ID Transaksi', 'Item'])['Item'].count()\
          .unstack().reset_index().fillna(0)\
          .set_index('ID Transaksi'))
basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu  kopi
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0   0.0
2                 1.0   1.0   1.0      0.0   0.0   1.0   0.0
3                 0.0   1.0   1.0      0.0   0.0   1.0   0.0
4                 1.0   1.0   0.0      0.0   0.0   1.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0   0.0

In [ ]:
#@title

## Algoritma Apriori
Eksekusi algortima apriori menggunakan library mlextend dengan fungsi apriori

## Apriori tahap 1
Eliminasi item set berdasarkan minimum support

In [13]:
# set minimum support 60%
frequent_itemsets = apriori(basket, min_support=0.6, use_colnames=True)
# print(list(frequent_itemsets))
frequent_itemsets

   support         itemsets
0      0.6        (Biskuit)
1      0.6           (Gula)
2      0.6           (Kopi)
3      0.8           (Susu)
4      0.6  (Susu, Biskuit)
5      0.6     (Gula, Susu)

## Apriori tahap 2
perhitungan confidence

In [15]:
rules = association_rules (frequent_itemsets, metric ="confidence", min_threshold=0.6)
rules[["antecedents", "consequents", "support","confidence"]]

  antecedents consequents  support  confidence
0      (Susu)   (Biskuit)      0.6        0.75
1   (Biskuit)      (Susu)      0.6        1.00
2      (Gula)      (Susu)      0.6        1.00
3      (Susu)      (Gula)      0.6        0.75

## Tugas 
minimum support 40%